<!--<div class="col-sm-12">-->

<div style="width:100%;padding-top:20px">
  <h3 style="display:inline;">Profile</h3>
  <hr />
  <button class="btn btn-primary" style="margin-top:20px;display:inline;float:right" (click)="edit()"><i class="fa fa-edit"></i></button>
</div>

<div *ngIf="candidate">
  <div class="row">
    <div class="col-sm-3">
      <label class="">First Name</label>
      <span class="form-control">{{candidate.firstName}}</span>
    </div>
    <div class="col-sm-3">
      <label>Last Name</label>
      <span class="form-control">{{candidate.lastName}}</span>
    </div>
  </div>
  <h3>Contact</h3>
  <hr />
  <div class="row">
    <div class="col-sm-3">
      <label class="">Phone</label>
      <span class="form-control">{{contact.phoneNumber}}</span>
    </div>
    <div class="col-sm-5">
      <label class="">Email</label>
      <span class="form-control">{{contact.email}}</span>
    </div>
    <div class="col-sm-2">
      <label class="">Mobile</label>
      <span class="form-control">{{contact.mobile}}</span>
    </div>
    <div class="col-sm-2">
      <label class="">Skyp Id</label>
      <span class="form-control">{{contact.skypId}}</span>
    </div>

  </div>
  <h3>Address</h3>
  <hr />
  <div class="row">
    <div class="col-sm-4">
      <label class="">Address 1</label>
      <span class="form-control">{{address.address1}}</span>
    </div>
    <div class="col-sm-2">
      <label class="" for="city">City</label>
      <span class="form-control">{{address.city}}</span>
    </div>
    <div class="col-sm-2">
      <label class="" for="postalcode">Postal Code</label>
      <span class="form-control">{{address.postalCode}}</span>
    </div>
    <div class="col-sm-3">
      <label class="">Country</label>
      <span class="form-control">{{address.country}}</span>
    </div>
  </div>
  <h3>Other</h3>
  <hr />
  <div class="row">
    <div class="col-sm-4" style="margin-top:10px">
      <label>Employment Type</label>
      <span class="form-control">{{getEmploymentType(candidate.employmentType)}}</span>
    </div>
    <div class="col-sm-4" style="margin-top:10px">
      <label>&nbsp;</label>

    </div>
    <div class="col-sm-3" style="margin-top:10px">
      <label class="" for="city">Start Date</label>
      <span class="form-control">{{candidate.readyToWorkDate | date}}</span>

    </div>

  </div>
  <div class="row">
    <div class="col-sm-4" style="margin-top:10px">
      <input type="checkbox" name="athorized" />
      <label>Authorized to work in Canada</label>
    </div>
    <div class="col-sm-4" style="margin-top:10px">
      <input type="checkbox" name="relocate" />
      <label>Willing to Relocate</label>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" style="margin-top:10px">
      <label>Notes</label>
      <textarea rows="3" style="width:100%"></textarea>

    </div>
  </div>
</div>

