<h3>Resumes</h3>
<hr />
<div *ngFor="let r of r$.source.value.candidateResume">
  <div class="row">
    <div class="col-sm-6">
      <label class="">Name</label>
      <span class="form-control">{{ r.name }}</span>
    </div>
    <div class="col-sm-1">
      <div>&nbsp;</div>
      <a [routerLink]='["/profile/resumeEdit",r.id]' class="btn btn-raised btn-primary"><i class="fa fa-edit"></i></a>
    </div>
    <div class="col-sm-1">
      <div>&nbsp;</div>
      <a (click)="deleteResume(r.id)" class="btn btn-raised btn-danger"><i class="fa fa-trash"></i></a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3" style="margin-top:10px">
      <span><i class="{{ getActive(r.active) }}"></i></span>
      <label>Active</label>
    </div>
    <div class="col-sm-3" style="margin-top:10px">
      <label>Status</label>
      <span>&nbsp;</span>
      <span style="color:lime">{{ getStatus(r.status) }}</span>
    </div>
  </div>
  <hr />
</div>
<div class="row" style="margin-top:30px">
  <div class="col-sm-6">
    <button class="btn btn-raised btn-primary form-control" (click)="addResume()">Add Resume</button>
  </div>
</div>
