<h3>Resumes</h3>
<hr />
<div class="row">
  <div class="col-sm-6">
    <label class="">Name</label>
    <input type="text" name="resumename" [(ngModel)]="resume.name" class="form-control" placeholder="Resume Name" />
  </div>
</div>
<div class="row">
  <div class="col-sm-6" style="margin-top:10px">
    <label class="">Upload</label>
    <label class="btn btn-default">
      <input type="file" hidden>
    </label>
  </div>
</div>
<div class="row">
  <div class="col-sm-3" style="margin-top:10px">
    <input type="checkbox" name="active" [(ngModel)]="resume.active" />
    <label>Active</label>
  </div>
  <div class="col-sm-3" style="margin-top:10px">
    <label>status</label>
    <span>&nbsp;</span>
    <span>public</span>
    <input type="checkbox" [(ngModel)]="resume.status" [ngModelOptions]="{standalone: true}" />
  </div>
</div>

<div class="row" style="margin-top:30px">
  <div class="col-sm-3">
    <button class="btn btn-danger form-control" (click)="cancel()">Cancel</button>
  </div>
  <div class="col-sm-3">
    <button class="btn btn-primary form-control">Save</button>
  </div>
</div>
