<h3>Resumes</h3>
<hr />
<div class="row">
  <div class="col-sm-6">
    <label class="">Name</label>
    <input type="text" name="resumename" class="form-control" placeholder="Resume Name" />
  </div>

</div>
<div class="row">
  <div class="col-sm-6" style="margin-top:10px">
    <label class="">Upload</label>

    <label class="btn btn-default">
       <input type="file"  hidden>
    </label>
  </div>
  </div>
<div class="row">
  <div class="col-sm-3" style="margin-top:10px">
    <input type="checkbox" name="active" />
    <label>Active</label>
  </div>
  <div class="col-sm-3" style="margin-top:10px">
    <label>status</label>
    <span>&nbsp;</span>
    <span>Public</span>
    <input type="radio" name="public" placeholder="Last Year Used" />
    <span>Private</span>
    <input type="radio" name="private" placeholder="Last Year Used" />
  </div>
</div>

<div class="row" style="margin-top:30px">
  <div class="col-sm-6">
    <button class="btn btn-primary form-control">Add Resume</button>
  </div>
</div>
