
<div class="container">
  <div class="row" style="z-index:11111;margin-top:200px">


    <div class="col-sm-6 col-md-4 col-md-offset-4 wow zoomInDown">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong> Forgot Password</strong>
        </div>
        <div class="panel-body">
          <form #forgotForm="ngForm" (ngSubmit)="actionOnSubmit(forgotForm)" novalidate>
            <fieldset>

              <div class="row" *ngIf="candidate">
                <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                      </span>
                      <input type="text" [(ngModel)]="candidate.email" #email="ngModel" [ngStyle]="{'border-color' : getStyle(email,forgotForm.submitted)}" required name="email" class="form-control" placeholder="Your Email">
                    </div>
                    <div *ngIf="!email.valid && forgotForm.submitted" class="text-danger" style="padding-left:40px">
                      Email is required.
                    </div>

                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6">
                        <input type="button" class="btn btn-raised btn-danger btn-block" (click)="cancel()" value="Cancel">
                      </div>
                      <div class="col-sm-6">
                        <input type="submit" class="btn btn-raised btn-primary btn-block" value="Submit">
                      </div>
                    </div>
      
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
  <img src="../../assets/back.jpg" alt="check_image" style="width:100vw;height:100vh;position:fixed;top:0;left:0;z-index:-9999">
</div>
