#i0nmti {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: silver;
  border-right-color: silver;
  border-bottom-color: silver;
  border-left-color: silver;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}

#iwcl {
  min-height: 75px;
}

#i0nmti {
  font-size: 18px;
  line-height: 33px;
  text-align: center;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(33, 37, 41);
  border-right-color: rgb(33, 37, 41);
  border-bottom-color: rgb(33, 37, 41);
  border-left-color: rgb(33, 37, 41);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: rgba(113, 143, 138, 0.27);
}

#i5pft {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#isksz4 {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.col-xl-7.col-lg-7.col-md-7.col-sm-7.col-12 {
  min-height: 75px;
}

.col-xl-3.col-lg-3.col-md-3.col-sm-3.col-12 {
  min-height: 75px;
}

.c1892 {
  min-height: 75px;
}

.c1912 {
  min-height: 75px;
}

.c2748 {
  min-height: 75px;
}

.c2767 {
  min-height: 75px;
}

.c2787 {
  min-height: 75px;
}

.c2806 {
  min-height: 75px;
}

.row.c1912 {
  margin-top: 11px;
  margin-right: -15px;
  margin-bottom: 0px;
  margin-left: -15px;
}

.c2845 {
  font-size: 20px;
  text-align: center;
}

.c3343 {
  color: rgb(33, 37, 41);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-weight: 400;
  letter-spacing: normal;
  orphans: 2;
  text-align: left;
  text-indent: 0px;
  text-transform: none;
  white-space: normal;
  widows: 2;
  word-spacing: 0px;
  -webkit-text-stroke-width: 0px;
  background-color: rgb(255, 255, 255);
  text-decoration-style: initial;
  text-decoration-color: initial;
  float: none;
  display: inline !important;
}

.c1958 {
  min-height: 75px;
}

.c3601 {
  color: rgb(33, 37, 41);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-weight: 400;
  letter-spacing: normal;
  orphans: 2;
  text-align: left;
  text-indent: 0px;
  text-transform: none;
  white-space: normal;
  widows: 2;
  word-spacing: 0px;
  -webkit-text-stroke-width: 0px;
  background-color: rgb(255, 255, 255);
  text-decoration-style: initial;
  text-decoration-color: initial;
  float: none;
  display: inline !important;
}

.c4292 {
  min-height: 75px;
}

.c4311 {
  min-height: 75px;
}

.container.c4311 {
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: silver;
  border-right-color: silver;
  border-bottom-color: silver;
  border-left-color: silver;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.c4879 {
  min-height: 75px;
}

.c4898 {
  min-height: 75px;
}

.container.c4898 {
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: silver;
  border-right-color: silver;
  border-bottom-color: silver;
  border-left-color: silver;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}

.c5280 {
  min-height: 75px;
}

.c5299 {
  min-height: 75px;
}

.container.c5299 {
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: silver;
  border-right-color: silver;
  border-bottom-color: silver;
  border-left-color: silver;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-top: 7px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.c5409 {
  font-size: 18px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: silver;
  border-right-color: silver;
  border-bottom-color: silver;
  border-left-color: silver;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  text-align: center;
  line-height: 33px;
  margin-top: 7px;
  margin-right: 0px;
  margin-bottom: 8px;
  margin-left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: rgba(113, 143, 138, 0.27);
}

.c9765 {
  min-height: 75px;
}

.c9784 {
  min-height: 75px;
}

.col-xl-12.col-lg-12.col-md-12.col-sm-4.col-12 {
  min-height: 75px;
}

.c9862 {
  min-height: 75px;
}

.c9881 {
  min-height: 75px;
}

.c5237 {
  color: black;
}

.c5260 {
  color: black;
}

.profile-card-1 .card-img-block {
  float: left;
  width: 100%;
  height: 150px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.profile-card-1 .card-body {
  position: relative;
}

.profile-card-1 .profile {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  position: absolute;
  top: -62px;
  left: 50%;
  width: 100px;
  border-top-width: 3px;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-left-width: 3px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  margin-left: -50px;
}

.profile-card-1 .card-img-block > .info-box {
  position: absolute;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgba(217, 11, 225, 0.6);
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  text-align: center;
  font-size: 14px;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
  opacity: 0;
}

.profile-card-1 h5 {
  font-weight: 600;
  color: rgb(217, 11, 225);
}

.profile-card-1 .card-text {
  font-weight: 300;
  font-size: 15px;
}

.profile-card-1 .icon-block {
  float: left;
  width: 100%;
}

  .profile-card-1 .icon-block a {
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
  }

.profile-card-1 i {
  display: inline-block;
  font-size: 16px;
  color: rgb(217, 11, 225);
  text-align: center;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(217, 11, 225);
  border-right-color: rgb(217, 11, 225);
  border-bottom-color: rgb(217, 11, 225);
  border-left-color: rgb(217, 11, 225);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  margin-top: 0px;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-left: 5px;
}

  .profile-card-1 i:hover {
    background-color: rgb(217, 11, 225);
    color: rgb(255, 255, 255);
  }

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

.card-signin {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: initial;
  border-right-style: initial;
  border-bottom-style: initial;
  border-left-style: initial;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0.5rem 1rem 0px;
}

  .card-signin .card-img-left {
    width: 45%;
    background-image: url("https://source.unsplash.com/collection/190727/414x512");
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: scroll;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background-size: cover;
  }

  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }

  .card-signin .card-body {
    padding-top: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
  }

.form-signin {
  width: 100%;
}

  .form-signin .btn {
    font-size: 80%;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
  }

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

  .form-label-group > label {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 100%;
    margin-bottom: 0px;
    line-height: 1.5;
    color: rgb(73, 80, 87);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: all;
  }

  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }

  .form-label-group input::placeholder {
    color: transparent;
  }

  .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }

    .form-label-group input:not(:placeholder-shown) ~ label {
      padding-top: calc(var(--input-padding-y) / 3);
      padding-bottom: calc(var(--input-padding-y) / 3);
      font-size: 12px;
      color: rgb(119, 119, 119);
    }

.btn-google {
  color: white;
  background-color: rgb(234, 67, 53);
}

.btn-facebook {
  color: white;
  background-color: rgb(59, 89, 152);
}

.c6401 {
  min-height: 300px;
  height: auto;
}

.c6421 {
  min-height: 300px;
  height: auto;
}

.c6442 {
  min-height: 200px;
}

.c6461 {
  min-height: 200px;
}

.c6078 {
  min-height: 75px;
}

.c6098 {
  min-height: 75px;
}

.c6117 {
  min-height: 75px;
}
