<h3>Education</h3>
<hr />
<div *ngFor="let e of (educationList | async)">
  <div class="row">
    <div class="col-sm-6">
      <label class="">Institution Name</label>
      <span class="form-control">{{e.institutionName}}</span>
    </div>
    <div class="col-sm-1">
      <div>&nbsp;</div>
      <a [routerLink]='["/profile/educationEdit",e.id]' class="btn btn-primary"><i class="fa fa-edit"></i></a>
    </div>
    <div class="col-sm-1">
      <div>&nbsp;</div>
      <a (click)="deleteEducation(e.id)" class="btn btn-danger"><i class="fa fa-trash"></i></a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <label class="">Start Date</label>
      <span class="form-control">{{e.startDate | date}}</span>
    </div>
    <div class="col-sm-3">
      <label>End Date</label>
      <span class="form-control">{{e.endDate | date}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <label>Degree</label>
      <span class="form-control">{{e.degree}}</span>
    </div>
  </div>
  <hr/>
</div>
<div class="row" style="margin-top:30px">
  <div class="col-sm-6">
    <button class="btn btn-primary form-control" (click)="addEducation()">Add Education</button>
  </div>
</div>
