<h3>Experience</h3>
<hr />
<style>
  .wc-date-container {
    border-color: silver !important;
  }
</style>
<form #experienceForm="ngForm" (ngSubmit)="actionOnSubmit(experience)" novalidate>
  <div *ngIf="experience">
    <div class="row">
      <div class="col-sm-6">
        <label class="">Employer</label>
        <input type="text" name="employerName" [ngStyle]="{'border-color' : getStyle(employerName,experienceForm.submitted)}" [(ngModel)]="experience.employerName" #employerName="ngModel" class="form-control" required placeholder="Employer Name" />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <small [hidden]="employerName.valid || (employerName.pristine && !experienceForm.submitted)" class="text-danger">
          Employer Name is required.
        </small>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <label class="">Start Date</label>
        <angular2-date-picker name="startDate" [(ngModel)]="experience.startDate" #startDate="ngModel" [settings]="settings"></angular2-date-picker>
      </div>
      <div class="col-sm-3">
        <label>End Date</label>
        <angular2-date-picker name="endDate" [(ngModel)]="experience.endDate" #endDate="ngModel" [settings]="settings"></angular2-date-picker>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <small [hidden]="startDate.valid || (startDate.pristine && !experienceForm.submitted)" class="text-danger">
          Start date is required.
        </small>
      </div>
      <div class="col-sm-3">
        <small [hidden]="endDate.valid || (endDate.pristine && !experienceForm.submitted)" class="text-danger">
          End date is required.
        </small>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label>Description</label>
        <textarea name="description" [(ngModel)]="experience.description" class="form-control" rows="3"></textarea>
      </div>
    </div>
    <div class="row" style="margin-top:30px">
      <div class="col-sm-3">
        <button class="btn btn-danger form-control" (click)="cancel()">Cancel</button>
      </div>
      <div class="col-sm-3">
        <button type="submit" class="btn btn-primary form-control">Save</button>
      </div>
    </div>
  </div>
</form>

