<h3>Experience</h3>
<hr />
<div class="row">
  <div class="col-sm-6">
    <label class="">Employer</label>
    <input type="text" name="employer" class="form-control" placeholder="Employer" />
  </div>

</div>
<div class="row">
  <div class="col-sm-3">
    <label class="">Start Date</label>
    <input type="text" name="startdate" class="form-control" placeholder="Start Date" />
  </div>
  <div class="col-sm-3">
    <label>End Date</label>
    <input type="text" name="enddate" class="form-control" placeholder="End Date" />
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <label>Description</label>
    <textarea name="description" class="form-control" rows="3"></textarea>
  </div>
</div>
<div class="row" style="margin-top:30px">
  <div class="col-sm-6">
    <button class="btn btn-primary form-control">Add Experience</button>
  </div>
</div>
