<h3>Skills</h3>
<hr />
<div class="row">
  <div class="col-sm-6">
    <label class="">Skill Name</label>
    <input type="text" name="skillname" [(ngModel)]="skill.skillName" class="form-control" placeholder="Skill Name" />
  </div>

</div>
<div class="row">
  <div class="col-sm-3">
    <label class="">Year Of Experience</label>
    <input type="text" name="yOfexp" class="form-control" [(ngModel)]="skill.yearOfExperience" placeholder="Year Of Experince" />
  </div>
  <div class="col-sm-3">
    <label>Last Year Used</label>
    <input type="text" name="lastused" class="form-control" [(ngModel)]="skill.lastYearUsed" placeholder="Last Year Used" />
  </div>
</div>
<div class="row" style="margin-top:30px">
  <div class="col-sm-3">
    <button class="btn btn-danger form-control" (click)="cancel()">Cancel</button>
  </div>
  <div class="col-sm-3">
    <button class="btn btn-primary form-control">Save</button>
  </div>
</div>


