<h3>Skills</h3>
<hr />
<div *ngFor="let e of skillList">
  <div class="row">
    <div class="col-sm-6">
      <label class="">Skill Name</label>
      <span class="form-control">{{e.skillName}}</span>
    </div>
    <div class="col-sm-1">
      <div>&nbsp;</div>
      <a [routerLink]='["/profile/skillEdit",e.id]' class="btn btn-primary"><i class="fa fa-edit"></i></a>
    </div>
    <div class="col-sm-1">
      <div>&nbsp;</div>
      <a class="btn btn-danger"><i class="fa fa-trash"></i></a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <label class="">Year Of Experience</label>
      <span class="form-control">{{e.yearOfExperience}}</span>
    </div>
    <div class="col-sm-3">
      <label>Last Year Used</label>
      <span class="form-control">{{e.lastYearUsed}}</span>
    </div>
  </div>
  <hr />
</div>
<div class="row" style="margin-top:30px">
  <div class="col-sm-6">
    <button class="btn btn-primary form-control" (click)="addSkill()">Add Skill</button>
  </div>
</div>
