<style>
  a img:hover {
    opacity:1 !important;
  }
</style>
<div class="container" style="margin-top:200px">
  <div class="row">
    <div class="col-sm-3">
      <a [routerLink]='["/profile/candidateView"]'><img src="../../assets/profile1.png" width="340" style="opacity:0.6" /></a>
    </div>
    <div class="col-sm-3">
      <a [routerLink]='["/search"]'><img src="../../assets/search.png" width="340" style="opacity:0.6"/></a>
    </div>
    <div class="col-sm-3">
      <a [routerLink]='["/resume"]'><img src="../../assets/resume.png" width="340" style="opacity:0.6" /></a>
    </div>
    <div class="col-sm-3">
      <a [routerLink]='["/apply"]'><img src="../../assets/apply.png" width="340" style="opacity:0.6"/></a>
    </div>
  </div>
</div>
